# Function to connect the database

In [2]:
def get_token(API_ENDPOINT,username,password):
    payload = {'username':username,
        'password':password}
    r = requests.post(url = API_ENDPOINT, data = payload)

    data = r.json
    ## Need to return only API token --Pending
    return data

def get_query_result(API_ENDPOINT,api_token,query):
    payload = {'query':query}
    Headers = {'Authorization':api_token}
    r = requests.post(url = API_ENDPOINT,headers=Headers, data = payload)

    data = r.json
    return data

def get_query(query):
    API_ENDPOINT = 'http://ec2-34-229-127-227.compute-1.amazonaws.com:8080/cavii-dev/api/login'
    username = 'ccdengagetest@gmail.com'
    password = 'optimal'
    
    api_token = get_token(API_ENDPOINT,username,password)
    
    return get_query_result(API_ENDPOINT,api_token,query)

# Functions to get query for the variable Gender, ageGroup,fromDate and toDate

In [3]:
def engage_gender(tableName,gender):
    from io import StringIO
    import pandas as pd
    import json
    import re
    query1 = "SELECT responseID FROM " + tableName + " WHERE"
    #for gender variable
    if gender == "M":
        gender_value = '{value":"Male"}"'
    elif gender == "F":
        gender_value = '{value":"Female"}"'
    else:
        gender_value = '{value":"other"}"'
    if gender!="":
        query= query1+" question_id = SQ008 AND" +" response= "+gender_value+";"
        return query

In [4]:
def engage_age(tableName,ageGroup):
    from io import StringIO
    import pandas as pd
    import json
    import re
    query1 = "SELECT responseID FROM " + tableName + " WHERE"
    #for ageGroup variable
    if ageGroup == "16-25":
        ageGroup_value = '{value":["16-25"]}"'
    elif ageGroup == "26-35":
        ageGroup_value = '{value":["26-35"]}"'
    elif ageGroup == "36-45":
        ageGroup_value = '{value":["36-45"]}"'
    elif ageGroup == "46-55":
        ageGroup_value = '{value":["46-55"]}"'
    elif ageGroup == "55-65":
        ageGroup_value = '{value":["55-65"]}"'
    else:
        ageGroup_value = '{value":["65+"]}"'
    if ageGroup!="":
        query= query1+" question_id = SQ007 AND response= "+ageGroup_value+";"
    return query

In [5]:
def engage_fromdate(tableName,fromDate):
    from io import StringIO
    import pandas as pd
    import json
    import re
    query1 = "SELECT responseID FROM " + tableName + " WHERE"
    #for ageGroup variable
    if fromDate!="":
        query = query1+" fromDate = '"+fromDate+"';"
    return query

In [6]:
def engage_todate(tableName,toDate):
    from io import StringIO
    import pandas as pd
    import json
    import re
    query1 = "SELECT responseID FROM " + tableName + " WHERE"
    #for ageGroup variable
    if toDate!="":
        query = query1+" toDate = '"+toDate+"';"
    return query

# Getting a dataframe containing respnseID for all the filters and combining it to one Dataframe

In [9]:
Final_DF = pd.DataFrame()

if gender!="":
    #Harish's code
    query = engage_gender(tableName,gender)
    #Sharath's code
    df = get_query(query)
    #Concating to the main DF
    Final_DF = pd.concat([Final_DF,df_gender],axis = 1)


if age !="":
    query = engage_age(tableName,ageGroup)
    #Sharath's code
    df = get_query(query)
    #Concating to the main DF
    Final_DF = pd.concat([Final_DF,df_age],axis = 1)
    
    
if fromDate !="":
    query = engage_fromDate(tableName,fromDate)
    #Sharath's code
    df = get_query(query)
    #Concating to the main DF
    Final_DF = pd.concat([Final_DF,df_fromDate], axis = 1)  
    
    
if toDate !="":
    query = engage_toDate(tableName,toDate)
    #Sharath's code
    df = get_query(query)
    #Concating to the main DF
    Final_DF = pd.concat([Final_DF,df_toDate],axis = 1)

NameError: name 'gender' is not defined

In [8]:
import pandas as pd
df = pd.DataFrame()
df1 = pd.DataFrame(data = [1,2,3,4,5])
df = pd.concat([df,df1],axis=1)
df2 = pd.DataFrame(data = [1,2,3,4])
df = pd.concat([df,df2],axis=1)
df

   0    0
0  1  1.0
1  2  2.0
2  3  3.0
3  4  4.0
4  5  NaN